.arrow {
	width: 60px;
	height: 82px;
	position: absolute; 
	left: 0;
	right: 0;
	margin: auto !important;
	bottom: 0%;
  z-index:999;
}
/* set arrow styles */
.arrow path {
	stroke: #0d0c22;
	stroke-width: 2px;
	fill: transparent;	
	animation: down 2s infinite;
}
/* arrow keyframe animation */
@keyframes down{
0% { opacity:0 }
25% { opacity:1 }
75% { opacity:0 }
100% { opacity:0 }
}
/* arrow animation delay */
.arrow path.a1{	animation-delay:-1s; }
.arrow path.a2{	animation-delay:-.5s; }
.arrow path.a3{	animation-delay:0s; }